# --- 忽略开发环境配置 ---
.vscode/**
.vscode-test/**
.git/**
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md

# --- 忽略构建配置和源文件 ---
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# --- 忽略源码目录 (因为我们要发布的是 out 目录) ---
src/**

# --- 【关键】强制保留的文件 (白名单) ---
# 使用 ! 开头表示“不忽略”（即强制打包）
# 即使上面的规则不小心匹配到了，这里也会把它们救回来

!out/**
!package.json
!README.md
!LICENSE
!lldbv1.0/**
!smartstart.svg
!smartstart.png